<% include ../partials/adminHeader %>

<div class="container">
    <!-- Auction Details -->
    <div class="container box">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Auction</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a href="/admin/item/add">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add Item</button>
                    </a>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add Auction</button>
                </div>
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>
        </div>
    </div>

</div>

<% include ../partials/adminFooter %>