<% if (messages.errors){ %>
<div class="alert alert-danger fade show">
    <button class="close" type="button" data-dismiss="alert"></button>

    <% messages.errors.forEach((error) => { %>
        <div>

            <%= error %>
        </div>
    <% }); %>
</div>
<% } else if (messages.info ) { %>
<div class="alert alert-info fade show">
    <button class="close" type="button" data-dismiss="alert"></button>
    <% messages.info.forEach( (info) => { %>
        <div>
            <%= info %>
        </div>
    <% }); %>
</div>
<% } else if (messages.success ) { %>
<div class="alert alert-success fade show">
    <button class="close" type="button" data-dismiss="alert"></button>
    <% messages.success.forEach((success) =>{ %>
    <div>
        <%= success %>
    </div>
    <% }); %>
</div>
<% } %>