
<% if (messages.errors){ %>
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert"></button>

    <% messages.errors.forEach((error) => { %>
        <div>

            <%= error.msg %>
        </div>
    <% }); %>
</div>
<% } else if (messages.info ) { %>
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert"></button>
    <% messages.info.forEach( (info) => { %>
        <div>
            <%= info.msg %>
        </div>
    <% }); %>
</div>
<% } else if (messages.success ) { %>
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert"></button>
    <% messages.success.forEach((success) =>{ %>
    <div>
        <%= success.msg %>
    </div>
    <% }); %>
</div>
<% } %>