<% include ../partials/header %>

<div class="container">
	<h2>Have something to sell?</h2>
	<p>Follow the steps below to request an estimate for your item, an art or an object. Request a new account if you do not have one.</p>

	<div class="row">
		<div class="col-lg-6 col-md-6">
			<a href="/request-account" class="btn btn-inverted btn-block btn-primary">Request an account first?</a>
		</div>

		<div class="col-lg-6 col-md-6">
			<a href="/item-submission" class="btn btn-inverted btn-block btn-dark">Request an auction estimate</a>
			<small>You require a seller account to submit an item for estimate. Request for a seller account as per the given steps</small>

		</div>
	</div>
</div>

<% include ../partials/footer %>